html,
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0px;
    padding: 0px;
   background: #EF6C00;
}

body.active{
     background: #DE3641;
}

body.break{
    background: #2D8F5D;
}



.main-content{
    background: transparent;
}

  .pomodoro-container{
      text-align: center;
      color:white;
  }
  .pomodoro-container h1{
      font-size: 10vmax;
      margin: 0;
      padding: 5px;
      font-weight:lighter;
  }
  
    .pomodoro-container button{
        padding: 1px 20px;
    }
    
    .pomodoro-container button{
        font-size: 1.2em;
    }
    
    .md-dialog-content {
        min-width: 240px;   
    }
    
    md-bottom-sheet{
        position: fixed;    
    }
    